<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/api/v1/user/search-user-group">Поиск группы для пользователя</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/api/v1/user/search-teacher-group">Свободные учителя</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/api/v1/user/form">Добавить пользователя</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/api/v1/group/form">Добавить группу</a>
            </li>
        </ul>
    </div>
</nav>